* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


:root {
    --white: #fff;
    --primary-color: #955DFE;
    --dark-primary-color: #633caa;
    --secondary-color: #F2EBFF;
    --grey-one: #161616;
    --grey-two: #484848;
    --grey-three: #6B6B6B;
    --grey-four: #868686;
    --green: #12C719;
    --blue: #3D00EC;

    /*style for animation*/

    --first-color: #DC99FF;
    --second-color: #E1A8FF;
    --third-color: #E8BDFF;
    --fourth-color: #F8EBFF;

    /*heading font styles*/
    --f-head-bold: 700;
    --f-head-semibold: 600;
    --f-head-medium: 400;

    /*body font styles*/
    --f-body-regular: 400;
    --f-body-medium: 500;
    --f-body-semibold: 600;

    --ff-heading: "Bricolage Grotesque", sans-serif;
    --ff-body: "DM Sans", sans-serif;
    
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-h1: 4.25rem;
    --fs-h2: 3rem;

    --fs-28:

}

.bricolage-h1 {
    font-family: var(--ff-heading);
    font-size: var(--fs-h1);
    font-weight: var(--f-head-semibold);
    }

.bricolage-h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-h2);
    font-weight: var(--f-head-semibold);
    width: 60%;
    text-align: center;
    z-index: 1000;
    }

.DM-san-16 {
    font-family: var(--ff-body);
    font-size: 1rem;
    color: var(--grey-three);
}

.DM-san-16-medium {
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: var(--f-body-medium);
    color: var(--grey-three);
}

.DM-san-18 {
    font-family: var(--ff-body);
    font-size: var(--fs-18);
    font-weight: var(--f-body-regular);
    color: var(--grey-three);
}

.DM-san-20 {
    font-family: var(--ff-body);
    font-size: var(--fs-20);
    font-weight: var(--f-body-regular);
    color: var(--grey-three);
}

.DM-san-24 {
    font-family: var(--ff-body);
    font-size: var(--fs-24);
    font-weight: var(--f-body-medium);
    
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

.navBar {
    display: flex;
    background-color: var(--white);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem 1.25rem;
    border-bottom: 1px solid rgba(221, 221, 221, 0.274);
    z-index: 100;

}

.navBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navBar ul li {
    display: inline-block;
}

.navBar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--grey-two);
    transition: color .3s ease-in-out;
}
.navBar ul li a:hover {
    color: var(--primary-color);
}

.logo {
    width: 3rem;
    height: 3rem;
}

.chatButton {
    display: inline-block;
    height: 2.75rem;
    text-align: center;
    padding: 0 1.275rem;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1.875rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out .03s;
}

.navBar .chatButton:hover {
    background-color: var(--fourth-color);
}

.backgroundImage {
    width: 70%;
    height: 80%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -5;
    
}

.headerContent {
    padding-top: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.headerText {
    text-align: center;
    color: var(--grey-one);
    width: 80%;
    margin: 0 auto;
}


.subText {
    text-align: center;
    color: var(--grey-two);
    width: 60%;
    margin: 0 auto;
    display: inline-block;
}

.subText-2 {
    width: 50%;
}

.Button {
    display: inline-block;
    height: 3.25rem;
    text-align: center;
    padding: 0 1.5rem;
    border: none;
    border-radius: 2.5rem; 
    cursor: pointer;
}

.primaryButton {
    background-color: var(--primary-color);
    color: var(--white);
    transition: background-color .4s ease-in-out .03s;
}

.primaryButton:hover {
    background-color: var(--dark-primary-color);
}

.primaryButton svg {
    vertical-align: middle;
}


.buttonDiv {
    display: flex;
    flex-direction: row;
    padding-top: 3.5rem;
}

.Linear {
    background: linear-gradient( 180deg, var(--fourth-color) 40%, var(--white) 70%);
    width: 60%;
    height: 6rem;
    position: absolute;
    top: 0;
    transform: translateY(-2.5rem);
     
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
    align-items: center;
    align-content: center;
    gap: 1rem;   
}

.event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 4rem;
    position: relative;
    margin-top: 9rem;
}

.Services {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.half-moon {
    width: 467px;
    height: 233px;
}

.ph-duotone {
    font-size: 30px;
    color: var(--primary-color)
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.innerText {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 90%;
    margin: 0 auto;
    gap: 4rem;
}

.border {
    gap: 1.5rem;
    border-left: 1px dashed var(--third-color);
    padding-left: 1rem;
}

.Get-Started {
    margin-top: 9rem;
}

.center {
    text-align: center;
}

.container-started {
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.innerText-started {
    gap: 1rem;
}

.ph-fill {
    font-size: 1.75rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0 0 24px rgba(100, 2, 92, 0.137);
    border-radius: 0.5rem;
    color: var(--primary-color);
}

.join-section {
    background-color: var(--secondary-color);
    margin-top: 9rem;
    padding: 4% 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.join-content {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.join-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inner-flex {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    box-sizing: border-box;
}

.color {
    color: var(--primary-color);
    cursor: pointer;
}

.align-left {
    text-align: left;
    
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 2.5rem;
}

.contact-img {
    width: 30rem;
    height: 22rem; 
}

.footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 6% 11% 2% 6%;
    box-sizing: border-box;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    
}

.link-tag {
    padding-bottom: 0.5rem;
    color: var(--white);
}

.links-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary-color);
}

.flex-right {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid #b086ff;
}

.sartaLink {
    text-decoration: none;
    color: var(--white);
}

.white {
    color: var(--white);
}


.socials, .copyright {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-links {
    list-style-type: none;
}

@media screen and (max-width: 67rem) {

    .join-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem
    }

    .join-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    
    .inner-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid {
        display: grid;
        align-items: center;
    }

    .align-left {
        text-align: center;
    }
    
}


@media screen and (max-width: 45rem) {
    .join-section {
        padding: 4% 2%;
        text-align: center;
    }

    .grid {
        gap: 0.5rem;
    }

    .navBar ul {
        display: none;
    }

    .footer-flex {
        flex-direction: column;
        gap: 2rem
    }

    .headerText {
        text-align: center;
        color: var(--grey-one);
        width: 90%;
        margin: 0 auto;
    }

    .subText {
        width: 80%;
    }

    .Linear {
        width: 80%;
    }

    .h2-Text {
        width: 80%;
    }

    .subText-2 {
        width: 65% I !important;
    }

}

@media screen and (max-width: 30rem) {

    :root {
        --fs-14: 0.675rem;
        --fs-16: 0.875rem;
        --fs-18: 0.95rem;
        --fs-20: 1rem;
        --fs-24: 1.15rem;
        --fs-h1: 2em;
        --fs-h2: 1.5rem;
    }

    .backgroundImage {
        display: none;
    }

    .half-moon {
        width: 280px;
        height: 142px;
    }

    .logo {
        width: 2rem;
        height: 2rem;
    }

    .chatButton {
        padding: 0 1rem;
    }

    .headerContent {
        padding-top: 3rem;
        gap: 2rem;
    }

    .buttonDiv {
        padding-top: 1rem;
    }

    .event-page {
        margin-top: 8rem;
        gap: 2rem;
    }

    .Services {
        margin-top: 6rem;
        gap: 2.5rem;
    }

    .ph-duotone {
        font-size: 28px;
        color: var(--primary-color)
    }

    .container {
        margin-top: 2.5rem;
    }

    .container-started {
        margin-top: 4rem;
        gap: 2rem;
    }

    .ph-fill {
        font-size: 1.5rem;
        padding: 1rem;
        background-color: var(--white);
        box-shadow: 0 0 24px rgba(100, 2, 92, 0.137);
        border-radius: 0.8rem;
        color: var(--primary-color);
    }

    .join-section {
        margin-top: 5rem;
        padding: 10% 4%;
    }

    .contact-img {
        width: 27rem;
        height: 23rem
    }
   
}